<!-- _layouts/default.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

  <!-- favicon -->
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

  <!-- JavaScript -->
   <script src="{{ site.baseurl }}/assets/js/script.js"></script>

  <!-- plugins -->
  {% feed_meta %} 
  {% seo %}
</head>
<body>
</body>
</html>

<body>
    {% include navigation.html %}
    {{ content}}
</body>
</html>