<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />

    <!-- Favicon -->
    <link rel="icon" href="{{ site.baseurl }}/assets/image/Favicon.ico" />

    <!-- Javascript -->
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>

    {% seo %}
</head>
<body>
    {% include navigation.html %}
    {{ content }}
</body>
</html>
